.aligner-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.our-subscribe {
  width: 28.125rem;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.learning-tips-from,
.subscribe-to-get {
  margin: 0;
}
.subscribe-to-get-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 3rem;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  color: #585858;
}
.spacer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.drop-your-email,
.we-recommended-you {
  margin: 0;
}
.we-recommended-you-container {
  width: 28.875rem;
  position: relative;
  font-size: 1rem;
  letter-spacing: -0.02em;
  line-height: 160%;
  font-weight: 500;
  color: rgba(87, 87, 87, 0.7);
  display: inline-block;
  max-width: 100%;
}
.resizer {
  width: 40.938rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  max-width: 100%;
}
.enter-your-email {
  width: 13.5rem;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
}
.blur-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.625rem;
}
.subscribe1 {
  width: 5.5rem;
  position: relative;
  font-size: 1.125rem;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 500;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 5.5rem;
}
.contrast-controller {
  cursor: pointer;
  border: 0;
  padding: 1.218rem 2.562rem;
  background-color: #fb9333;
  border-radius: 100px;
  flex-direction: row;
  justify-content: center;
}
.contrast-controller:hover {
  background-color: #c76100;
}
.contrast-controller,
.distributor,
.effect-manager {
  display: flex;
  align-items: center;
}
.effect-manager {
  align-self: stretch;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 8px 20px -30px rgba(151, 109, 0, 0.08);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.5rem 1.937rem;
  gap: 1.25rem;
  font-size: 1.125rem;
  color: rgba(87, 87, 87, 0.7);
}
.distributor {
  width: 43.75rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
  max-width: 100%;
  z-index: 1;
}
.subscribe,
.subscribe-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.subscribe {
  width: 73.125rem;
  padding: 3rem 1.25rem;
  position: relative;
  min-height: 34.5rem;
}
.subscribe-wrapper {
  align-self: stretch;
  padding: 0 1.25rem 9.375rem;
  text-align: center;
  font-size: 1.25rem;
  color: #fb9333;
  font-family: Poppins;
}
@media screen and (max-width: 850px) {
  .subscribe-to-get-container {
    font-size: 2.375rem;
    line-height: 3.375rem;
  }
  .effect-manager {
    flex-wrap: wrap;
  }
  .distributor {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 450px) {
  .our-subscribe {
    font-size: 1rem;
    line-height: 1.813rem;
  }
  .subscribe-to-get-container {
    font-size: 1.813rem;
    line-height: 2.5rem;
  }
  .distributor {
    gap: 1.25rem;
  }
}
