.loin-child {
  width: 31.8rem;
  height: 34.281rem;
  position: relative;
  backdrop-filter: blur(23.81px);
  border-radius: 31.75px;
  background-color: rgba(255, 255, 255, 0.3);
  display: none;
  max-width: 100%;
}
.playground {
  color: #000;
}
.eco-playground,
.login {
  position: relative;
  z-index: 1;
}
.login {
  font-size: 1.888rem;
  display: inline-block;
  font-family: Gilroy;
  color: #2a1e17;
  min-width: 4.813rem;
}
.eco-playground-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.706rem;
  font-size: 1.194rem;
  color: #f25019;
}
.username {
  position: relative;
  display: inline-block;
  min-width: 3.25rem;
  z-index: 1;
}
.frame-child,
.username-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #fff;
  height: 2.481rem;
  border-radius: 3.97px;
  flex-direction: row;
  padding: 0.843rem 1.093rem 0.825rem;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 0.694rem;
  color: #bcbec0;
  min-width: 11.875rem;
  z-index: 1;
}
.username-parent {
  flex-direction: column;
  padding: 0 0.062rem 0.75rem 0;
  gap: 0.375rem;
  font-family: Gilroy-Regular;
}
.password {
  position: relative;
  display: inline-block;
  min-width: 3.063rem;
  z-index: 1;
}
.frame-item {
  height: 2.481rem;
  width: 19.844rem;
  position: relative;
  border-radius: 3.97px;
  background-color: #fff;
  display: none;
}
.password1 {
  position: relative;
  display: inline-block;
  min-width: 3.063rem;
  z-index: 2;
}
.clarityeye-hide-line-icon {
  height: 0.794rem;
  width: 0.794rem;
  position: relative;
  border-radius: 31.75px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.password-parent,
.rectangle-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.rectangle-parent {
  border-radius: 3.97px;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.843rem 1.087rem 0.825rem 1.093rem;
  gap: 1.25rem;
  z-index: 1;
  color: #bcbec0;
}
.password-parent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0.062rem 0 0;
  gap: 0.381rem;
}
.forgot-password {
  position: relative;
  font-size: 0.594rem;
  display: inline-block;
  min-width: 4.863rem;
  z-index: 1;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.787rem;
  gap: 0.837rem;
}
.frame-inner {
  height: 2.481rem;
  width: 19.844rem;
  position: relative;
  border-radius: 3.97px;
  background-color: #f25019;
  display: none;
}
.sign-in {
  position: relative;
  font-size: 0.994rem;
  display: inline-block;
  font-family: Gilroy;
  color: #fff;
  text-align: left;
  min-width: 3.125rem;
  z-index: 2;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0.643rem 1.25rem;
  background-color: #f25019;
  align-self: stretch;
  border-radius: 3.97px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-group:hover {
  background-color: #ff6933;
}
.dont-have-an,
.register-for-free {
  position: relative;
  z-index: 1;
}
.register-for-free {
  font-weight: 600;
  font-family: Gilroy;
  display: inline-block;
  min-width: 5.113rem;
}
.loin,
.register-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}
.loin {
  align-self: stretch;
  backdrop-filter: blur(23.81px);
  border-radius: 31.75px;
  background-color: rgba(255, 255, 255, 0.3);
  flex-direction: column;
  padding: 4.912rem 5.956rem 6.35rem;
  box-sizing: border-box;
  gap: 1.3rem;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: 0.694rem;
  color: #2a1e17;
  font-family: Roboto;
}
@media screen and (max-width: 1050px) {
  .login {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 750px) {
  .loin {
    padding: 3.188rem 2.938rem 4.125rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .login {
    font-size: 1.125rem;
  }
  .loin {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
}
